.st-key-upload_box {
    box-shadow: 2px 2px 10px white;
    border-radius: 10px;
    border-color: white;
    border-style: solid;
}

div[class*="st-key-prediction_container"] {
    padding:30px;
    margin : 10px;
    background-image :linear-gradient(to left , rgba(59, 47, 47, 0.281) , rgba(189, 189, 86, 0.247));
    border-radius : 10px;
    border-color: white;
    border-style: solid;
}


div[class*="st-key-prediction_container"] p {
    text-align: center;
    font-weight: bolder;
}


div[class*='st-key-description'] p {
    text-align: center;

}